[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Flexible I/O Tester
[access "refs/*"]
	owner = group user/nli16 (ningli16)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/nli16 (ningli16)
	label-Verified = -1..+1 group user/nli16 (ningli16)
	push = group user/nli16 (ningli16)
	read = group user/nli16 (ningli16)
	rebase = group user/nli16 (ningli16)
	removeReviewer = group user/nli16 (ningli16)
	submit = group user/nli16 (ningli16)
[access "refs/heads/*"]
	create = group user/nli16 (ningli16)
	push = +force group user/nli16 (ningli16)
	pushMerge = group user/nli16 (ningli16)
	read = group user/nli16 (ningli16)
[access "refs/tags/*"]
	push = group user/nli16 (ningli16)
	push = +force group user/nli16 (ningli16)
